public/app/etc/local.xml
public/media/catalog/product/cache
public/var
public/sitemap.xml
public/media/.thumbs
public/media/.thumbs/*
public/media/wysiwyg/.thumbs
public/media/wysiwyg/.thumbs/*
public/downloader/cache.cfg
public/downloader/connect.cfg
public/downloader/.cache
public/downloader/.cache/*
backup
backup/*
