.top-cart-wrapper { bottom: -133px !important;}
.block-subscribe input.input-text { width: 150px !important;}
.product-view .link-wishlist,.product-view .link-compare,.product-view .email-friend a { font-size: 12px !important; padding: 6px 10px !important;}
.email-friend { margin: 0 0 0 3px !important;}
.add-to-box .add-to-links li { margin: 0 3px 0 0 !important;}