@CHARSET "ISO-8859-1";

/**
 * We tried to list as many classes in this sheet as we could
 * but it's more than likely we missed a bunch.
 **/

.rewards-special-review-summary {
	margin-top:12px;
	font-size:8pt;
}

.rewards-customer-sidebar {
}


.rewards-checkout-cart-before_total-head {
}


.rewards-checkout-cart-points-head {
	width: 80px;

}

.item-points-header-redeemed, .item-points-header-earned {
	color: rgb(30, 126, 200); 
	font-weight: bold;
	cursor: pointer;
}

.item-points-list-redeemed, .item-points-list-earned {
	
}

.item-points-block {
	font-size:8pt;
}

.item-no-points-caption {
	font-style:italic;
}

.points-checkout-onepage-sidebox {}
.points-checkout-onepage-sidebox .onepage-sidebox-header { }
.points-checkout-onepage-sidebox .onepage-sidebox-content {}

.mypoints-page-head {}
.mypoints-sendfriend {
	float:left; 
	width:300px; 
	height:260px;	
}
.shopping-cart-collaterals .rewards-cart-box h4 {
    min-height:16px;
    color:#2692cc;
    background-repeat:no-repeat;
    background-position:0 0;
    padding:1px 0 1px 21px;
    text-transform:uppercase;
	background-image:url(../../images/icon_asterick.gif);  
	padding-left:23px;
}
.shopping-cart-collaterals 
		.rewards-cart-box { 
	padding:12px 15px 15px;
	width:650px;
}
.rewards-cart-box .applied-redemptions { 
	margin-bottom: 10px;
}

.rewards-cart-box .applied-redemptions { 
	margin-bottom: 10px;
}
.rewards-cart-box .distributions { 
	margin-bottom: 10px;
}



.rewards-cart-box .no_extra_points {
	font-style: italic; 
}
.rewards-cart-box {
	margin-top: 0px; 
	margin-bottom:20px; 
	float: left; 
	text-align: left; 
	width:100%	
}
.mypoints-redeemcatalog {
	vertical-align:middle;
	float:right;
	width:300px;
	height:260px;	
}

.mypoints-redeemcatalog .listing {
	font-size:8pt;	
	height:230px;
	overflow-x:hidden;
	overflow-y:auto;
}

.mypoints-redeemcatalog .noproducts {
	/*font-size:8pt;*/
	font-style: italic;
	margin-top: 30px;	
	text-align: center;
}

.mypoints-transfers {}

.mypoints-transfers h2 {
	margin-top: 12px;	
}

.mypoints-summary { 
    margin-top:10px;
}
.mypoints-summary .usable-points {
	margin-bottom: 12px;	
}
.mypoints-summary .pending-points { }
.mypoints-summary .onhold-points {
	margin-bottom: 12px;	
}
.mypoints-summary .msg {
}


.points-summary-emphasize {
	font-weight: bold;	
}

.cart-points-total_spent {}
.cart-points-total_spent .warning {
	color: red; 
	font-size: 8pt;
}

.cart-points-total_spent .caption, .cart-points-total_earned .caption {
	font-weight: bold;
}

.cart-points-total_item_discounts .rendering_area {
	font-weight: bold;	
}

.rewards-customer-sidebar .warning {
	color: red; 
	font-size: 8pt;
}

.rewards-customer-sidebar .to_spend { }
.rewards-customer-sidebar .remaining { }
.rewards-customer-sidebar .balance { }
.rewards-customer-sidebar .notice {
    color:#000;
}

.mypoints-transfers {}
.mypoints-transfers .data-table {}
.mypoints-transfers .content{}

/** Changed for  Tennis Shop **/
.points-prediction {
    margin-bottom:4px;
    margin-top:4px;
	font-size:8pt;
    float: right; 
    padding-right: 10px;
}
.points-prediction .as_low_as { }
.points-prediction .earnable { }

.order-points-earned .caption {}
.order-points-earned .amount, .order-points-spent .amount, .order-print-points-earned .amount, .order-print-points-spent .amount {
	font-size: 7pt;
}

.product-view-points {}
.product-view-points .redeem_section {}
.product-view-points .distri_section {}
.product-view-points .distri_section .you_will_earn {}
.product-view-points .distri_section .points_image {}
.product-view-points {}

.points-special-header {}


