<?xml version="1.0"?>
<config>

   <sections>
       <featuredproducts translate="label" module="featuredproducts">
            <label>Featured Products</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>       
				<automationoptions translate="label">
	                    <label>Automation options</label>
	                    <show_in_default>1</show_in_default>
	                    <show_in_website>1</show_in_website>
	                    <show_in_store>1</show_in_store>
	                    <fields>
	                        <showlast translate="label">
	                            <label>Show last added products, items</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>6</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </showlast>	                        
	                        <showrandom translate="label">
	                            <label>Show random instock products, items</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>7</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </showrandom>	                        
	                        <considercategory translate="label">
	                            <label>Consider category for the automation options</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
								
	                            <sort_order>8</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </considercategory>	                        
	                    </fields>
	            </automationoptions>
				<displayoptions translate="label">
	                    <label>Display options</label>
	                    <show_in_default>1</show_in_default>
	                    <show_in_website>1</show_in_website>
	                    <show_in_store>1</show_in_store>
	                    <fields>
						
	                        <displaytype translate="label">
	                            <label>Display type</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_displaytype</source_model>
	                            <sort_order>10</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </displaytype>
							
		                    <arrows translate="label">
	                            <label>Show arrows</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
	                            <sort_order>20</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </arrows>						
							
	                        <switchertype translate="label">
	                            <label>Bottom switcher type</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_switchertype</source_model>
	                            <sort_order>25</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </switchertype>
		                    <title translate="label">
	                            <label>Show title</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_titleposition</source_model>
	                            <sort_order>26</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </title>								
		                    <details translate="label">
	                            <label>Show details</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_detailstype</source_model>
	                            <sort_order>27</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </details>												
		                    <bnb translate="label">
	                            <label>Buy now button</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
	                            <sort_order>28</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </bnb>	
							<description translate="label">
	                            <label>Show description</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
	                            <sort_order>28</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </description>
							<price translate="label">
	                            <label>Show price</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
	                            <sort_order>28</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </price>
							
							<align translate="label">
	                            <label>Block align</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_imagealign</source_model>
	                            <sort_order>28</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </align>	
							
		                    
																					
													
		                    <image translate="label">
	                            <label>Image align</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>featuredproducts/system_config_source_imagealign</source_model>
	                            <sort_order>29</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </image>	
							
							
							<interval translate="label">
	                            <label>Rotating interval,sec (0 to disable auto-rotation)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>30</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </interval>

							
														
	                        <containerwidth translate="label">
	                            <label>Container width (px, 475 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>31</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </containerwidth>
	                        <containerheight translate="label">
	                            <label>Container height (px, 200 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>31</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </containerheight>			
							
							
		                    <blockwidth translate="label">
	                            <label>Block width (px, 395 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>31</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </blockwidth>
	                        <blockheight translate="label">
	                            <label>Block height (px, 200 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>31</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </blockheight>	
													
							
	                        <ssdelay>
	                        	<label>Animation speed (less is faster, 15 by default)</label>
	                        	<sort_order>40</sort_order>
	                        	<class>validate-number</class>
	                        	<frontend_type>text</frontend_type>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </ssdelay>
	                        <imagewidth translate="label">
	                            <label>Image width (px, 120 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>50</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </imagewidth>
	                        <thumbwidth translate="label">
	                            <label>Thumbnail width (px, 32 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>55</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </thumbwidth>
	                        <thumbzoom translate="label">
	                            <label>Thumbnail zoom ratio (1.5 by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>60</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </thumbzoom>														
	                        <!--imageheight translate="label">
	                            <label>Image height (px, original size or auto scale by default)</label>
	                            <frontend_type>text</frontend_type>
	                            <sort_order>60</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </imageheight-->

					

	                        <istooltip translate="label">
	                            <label>Show tooltip</label>
	                            <frontend_type>select</frontend_type>
	                            <source_model>adminhtml/system_config_source_yesno</source_model>
	                            <sort_order>80</sort_order>
	                            <show_in_default>1</show_in_default>
	                            <show_in_website>1</show_in_website>
	                            <show_in_store>1</show_in_store>
	                        </istooltip>	                        
	                    </fields>
	            </displayoptions>
            </groups>
         </featuredproducts>
	</sections>
	
</config>
