<?xml version="1.0"?>
<!-- 
/**
 * @category   Netz98
 * @package    Netz98_Raffle
 * @author     Daniel Nitz <d.nitz@netz98.de>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Netz98_Raffle>
            <version>0.1.0</version>
        </Netz98_Raffle>
    </modules>
    <frontend>
        <routers>
            <raffle>
                <use>standard</use>
                <args>
                    <module>Netz98_Raffle</module>
                    <frontName>raffle</frontName>
                </args>
            </raffle>
        </routers>
        <translate>
            <modules>
                <Netz98_Raffle>
                    <files>
                        <default>Netz98_Raffle.csv</default>
                    </files>
                </Netz98_Raffle>
            </modules>
        </translate>
        <layout>
            <updates>
                <raffle>
                    <file>raffle.xml</file>
                </raffle>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<raffle>
				<use>admin</use>
				<args>
					<module>Netz98_Raffle</module>
					<frontName>raffle</frontName>
				</args>
			</raffle>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<raffle module="raffle">
				<title>Raffle</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="raffle">
						<title>Participants</title>
						<sort_order>0</sort_order>
						<action>raffle/adminhtml_raffle</action>
					</items>
				</children>
			</raffle>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Netz98_Raffle>
							<title>Raffle Module</title>
							<sort_order>10</sort_order>
						</Netz98_Raffle>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<raffle>
					<file>raffle.xml</file>
				</raffle>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <raffle>
                <class>Netz98_Raffle_Model</class>
                <resourceModel>raffle_mysql4</resourceModel>
            </raffle>
            <raffle_mysql4>
                <class>Netz98_Raffle_Model_Mysql4</class>
                <entities>
                    <participants>
                        <table>raffle_participants</table>
                    </participants>
                </entities>
            </raffle_mysql4>
        </models>
        <resources>
            <raffle_setup>
                <setup>
                    <module>Netz98_Raffle</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </raffle_setup>
            <raffle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </raffle_write>
            <raffle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </raffle_read>
        </resources>
        <blocks>
            <raffle>
                <class>Netz98_Raffle_Block</class>
            </raffle>
        </blocks>
        <helpers>
            <raffle>
                <class>Netz98_Raffle_Helper</class>
            </raffle>
        </helpers>
    </global>
</config>