<?xml version="1.0"?>
<config>
    <modules>
        <TBT_Rewards>
            <version>1.2.8</version>
        </TBT_Rewards>
    </modules>
	<admin>
        <routers>
			<rewards>
				<use>admin</use>
				<args>
					<module>TBT_Rewards</module>
					<frontName>rewards</frontName>
				</args>
			</rewards>
        </routers>
    </admin>
    <frontend>
        <routers>
            <rewards>
                <use>standard</use>
                <args>
                    <module>TBT_Rewards</module>
                    <frontName>rewards</frontName>
                </args>
            </rewards>
        </routers>
        <layout>
            <updates>
                <rewards>
                    <file>rewards.xml</file>
                </rewards>
            </updates>
        </layout>
		<translate>
            <modules>
                <TBT_Rewards>
                    <files>
                        <default>TBT_Rewards.csv</default>
                    </files>
                </TBT_Rewards>
            </modules>
        </translate>
        
        <events>            
<!--  Moved to global -->
        </events>
        
    </frontend>
	
    <adminhtml>
		<translate>
            <modules>
                <TBT_Rewards>
                    <files>
                        <default>TBT_Rewards.csv</default>
                    </files>
                </TBT_Rewards>
            </modules>
        </translate>
		<menu>
			<rewards module="rewards" translate="title">
				<title>Customer Rewards</title>    
				<sort_order>75</sort_order>   
        		<children>
					<!--  debug module="rewards" translate="title">
						<title>Debug</title>
						<sort_order>5</sort_order>
						<action>rewards/manage_debug_product/opt</action>
						<children>
						<product module="rewards" translate="title">
							<title>Product</title>
							<sort_order>10</sort_order>
							<action>rewards/manage_debug_product/opt</action>
						</product>
						<product module="rewards" translate="title">
							<title>Points Block</title>
							<sort_order>20</sort_order>
							<action>rewards/manage_debug_product/checkPointsBlock</action>
						</product>
						</children>
					</debug-->
					<currency module="rewards" translate="title">
						<title>Point Currencies</title>
						<sort_order>10</sort_order>
						<action>rewards/manage_currency</action>
					</currency>
					<rules module="rewards" translate="title">
									<title>Point Rules</title>
									<sort_order>20</sort_order>
			        		        <children>   
			        					<distribution module="rewards" translate="title">
			        						<title>Distribution Rules</title>
			        						<sort_order>10</sort_order>
			        		        		<children>   
					        					<catalog module="rewards" translate="title">
					        						<title>Catalog</title>
					        						<sort_order>10</sort_order>
        											<action>rewards/manage_promo_catalog/index/type/1/</action>
					        					</catalog>
					        					<quote module="rewards" translate="title">
					        						<title>Shopping Cart</title>
					        						<sort_order>20</sort_order>
        											<action>rewards/manage_promo_quote/index/type/1/</action>
					        					</quote>
					        					<special module="rewards" translate="title">
					        						<title>Customer Behavior</title>
					        						<sort_order>30</sort_order>
        											<action>rewards/manage_special/index/type/1/</action>
					        					</special>
			        		        		</children>   
			        					</distribution>
			        					<redemption module="rewards" translate="title">
			        						<title>Redemption Rules</title>
			        						<sort_order>20</sort_order>
			        		        		<children>  
					        					<catalog module="rewards" translate="title">
					        						<title>Catalog</title>
					        						<sort_order>10</sort_order>
        											<action>rewards/manage_promo_catalog/index/type/2/</action>
					        					</catalog>
					        					<quote module="rewards" translate="title">
					        						<title>Shopping Cart</title>
					        						<sort_order>20</sort_order>
        											<action>rewards/manage_promo_quote/index/type/2/</action>
					        					</quote>
			        		        		</children>  
			        					</redemption>
			        					<applyrules module="rewards" translate="title">
			        						<title>Apply Catalog Rules</title>
			        						<sort_order>30</sort_order>
      											<action>rewards/manage_promo_catalog/applyRules</action>
			        					</applyrules>
			        					<!--redem module="rewards" translate="title">
			        						<title>Manage Redemption Rules</title>
			        						<sort_order>30</sort_order>
			        					</redem-->
			        				</children>
								</rules>
					<customer module="rewards" translate="title">
						<title>Customers' Points</title>
						<sort_order>30</sort_order>
						<action>rewards/manage_customer_points</action>
					</customer>
					<transfers module="rewards" translate="title">
						<title>Manage Transfers</title>
        				<action>rewards/manage_transfer</action>
						<sort_order>40</sort_order>
        		        <children>   
        					<redemhistory module="rewards" translate="title">
        						<title>Redemptions</title>
        						<sort_order>10</sort_order>
        						<action>rewards/manage_transfer_redemption</action>
        					</redemhistory>
        					<mandistri module="rewards" translate="title">
        						<title>Distributions</title>
        						<sort_order>20</sort_order>
        						<action>rewards/manage_transfer_distribution</action>
        					</mandistri>
        					<othertransfers module="rewards" translate="title">
        						<title>All Other Transfers</title>
        						<sort_order>30</sort_order>
        						<action>rewards/manage_transfer_other</action>
        					</othertransfers>
        					<createtransfer module="rewards" translate="title">
        						<title>Create New Transfer</title>
        						<sort_order>40</sort_order>
        						<action>rewards/manage_transfer/new</action>
        					</createtransfer>
        				</children>
					</transfers>
				</children>
			</rewards>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<rewards module="rewards" translate="title">
							<title>Customer Rewards</title>    
							<sort_order>75</sort_order>   
			        		<children>
								<currency module="rewards" translate="title">
									<title>Point Currencies</title>
									<sort_order>10</sort_order>
								</currency>
								<rules module="rewards" translate="title">
									<title>Point Rules</title>
									<sort_order>20</sort_order>
			        		        <children>   
			        					<distribution module="rewards" translate="title">
			        						<title>Earning Points</title>
			        						<sort_order>10</sort_order>
			        		        		<children>   
					        					<catalog module="rewards" translate="title">
					        						<title>Catalog Earning Rules</title>
					        						<sort_order>10</sort_order>
					        					</catalog>
					        					<quote module="rewards" translate="title">
					        						<title>Shopping Cart Earning Rules</title>
					        						<sort_order>20</sort_order>
					        					</quote>
					        					<special module="rewards" translate="title">
					        						<title>Customer Behavior Earning Rules</title>
					        						<sort_order>30</sort_order>
					        					</special>
			        		        		</children>   
			        					</distribution>
			        					<redemption module="rewards" translate="title">
			        						<title>Redeeming Points</title>
			        						<sort_order>20</sort_order>
			        		        		<children>  
					        					<catalog module="rewards" translate="title">
					        						<title>Catalog Redeeming Rules</title>
					        						<sort_order>10</sort_order>
					        					</catalog>
					        					<quote module="rewards" translate="title">
					        						<title>Shopping Cart Redeeming Rules</title>
					        						<sort_order>20</sort_order>
					        					</quote>
			        		        		</children>  
			        					</redemption>
			        					<!--redem module="rewards" translate="title">
			        						<title>Manage Redemption Rules</title>
			        						<sort_order>30</sort_order>
			        					</redem-->
			        				</children>
								</rules>
								<customer module="rewards" translate="title">
									<title>Customers' Points</title>
									<sort_order>30</sort_order>
								</customer>
								<transfers module="rewards" translate="title">
									<title>Manage Transfers</title>
									<sort_order>40</sort_order>
			        		        <children>   
			        					<redemhistory module="rewards" translate="title">
			        						<title>Redemptions</title>
			        						<sort_order>10</sort_order>
			        					</redemhistory>
			        					<mandistri module="rewards" translate="title">
			        						<title>Distributions</title>
			        						<sort_order>20</sort_order>
			        					</mandistri>
			        					<othertransfers module="rewards" translate="title">
			        						<title>All Other Transfers</title>
			        						<sort_order>30</sort_order>
			        					</othertransfers>
			        					<createtransfer module="rewards" translate="title">
			        						<title>Create New Transfer</title>
			        						<sort_order>40</sort_order>
			        					</createtransfer>
			        				</children>
								</transfers>
							</children>
						</rewards>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <rewards>
                                            <title>Rewards Section</title>
                                        </rewards>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<rewards>
					<file>rewards.xml</file>
				</rewards>
			</updates>
		</layout>
    </adminhtml>   
    
    <global>
        <!--// This is to accomodate compatibility with AheadWork's AJAX Cart Pro extension //-->
        <!--// It seems like we don't need this next controller rewrite yet, but let's keep it here... //-->
        <!-- rewrite>
            <tbt_rewards_ajaxpro_cart_remove>
                <from><![CDATA[#^/ajaxcartpro/cart/remove((.*))$#]]></from>
                <to>/rewards/ajaxcartpro_cart/remove${1}</to>
            </tbt_rewards_ajaxpro_cart_remove>
        </rewrite --> 
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <tbt_rewards_model_catalogrule_observer>
                        <type>singleton</type>
                        <class>rewards/catalogrule_observer</class>
                        <method>appendPointsQuote</method>
                    </tbt_rewards_model_catalogrule_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
                <observers>
                    <tbt_rewards_model_catalogrule_observer>
                        <type>singleton</type>
                        <class>rewards/catalogrule_observer</class>
                        <method>updateRedemptions</method>
                    </tbt_rewards_model_catalogrule_observer>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_save_before>
                <observers>
                    <tbt_rewards_model_catalogrule_observer>
                        <type>singleton</type>
                        <class>rewards/catalogrule_observer</class>
                        <method>updateRedemptions</method>
                    </tbt_rewards_model_catalogrule_observer>
                </observers>
            </sales_quote_save_before>
            
            
            <checkout_cart_add_product_complete>
                <observers>
                    <tbt_rewards_model_checkout_cart_observer>
                        <type>singleton</type>
                        <class>rewards/checkout_cart_observer</class>
                        <method>checkRedemptions</method>
                    </tbt_rewards_model_checkout_cart_observer>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_items_after>
                <observers>
                    <tbt_rewards_model_checkout_cart_observer>
                        <type>singleton</type>
                        <class>rewards/checkout_cart_observer</class>
                        <method>checkRedemptions</method>
                    </tbt_rewards_model_checkout_cart_observer>
                </observers>
            </checkout_cart_update_items_after>
          <catalogrule_after_apply>
            <observers>
              <tbt_rewards_model_observer_catalog_product_flat_update_product>
                <type>singleton</type>
                <class>rewards/observer_catalog_product_flat_update_product</class>
                <method>updateCatalogRulesHash</method>
              </tbt_rewards_model_observer_catalog_product_flat_update_product>
            </observers>
          </catalogrule_after_apply>
          <sales_quote_save_before>
            <observers>
              <tbt_rewards_model_observer_sales_quote_save_before>
                <type>singleton</type>
                <class>rewards/observer_sales_quote_save_before</class>
                <method>updateCatalogPoints</method>
              </tbt_rewards_model_observer_sales_quote_save_before>
            </observers>
          </sales_quote_save_before>
          <sales_convert_quote_to_order>
            <observers>
              <tbt_rewards_model_observer_sales_convert_quotetoorder>
                <type>singleton</type>
                <class>rewards/observer_sales_convert_quotetoorder</class>
                <method>prepareCatalogPointsTransfers</method>
              </tbt_rewards_model_observer_sales_convert_quotetoorder>
            </observers>
          </sales_convert_quote_to_order>
          <sales_order_place_after>
            <observers>
              <tbt_rewards_model_observer_sales_order_place_after>
                <type>singleton</type>
                <class>rewards/observer_sales_order_place_after</class>
                <method>prepareCartPointsTransfers</method>
              </tbt_rewards_model_observer_sales_order_place_after>
            </observers>
          </sales_order_place_after>
          <sales_order_save_after>
            <observers>
              <tbt_rewards_model_observer_sales_order_save_after_create>
                <type>singleton</type>
                <class>rewards/observer_sales_order_save_after_create</class>
                <method>createPointsTransfers</method>
              </tbt_rewards_model_observer_sales_order_save_after_create>
              <tbt_rewards_model_observer_sales_order_save_after_approve>
                <type>singleton</type>
                <class>rewards/observer_sales_order_save_after_approve</class>
                <method>approveAssociatedPendingTransfersOnShipment</method>
              </tbt_rewards_model_observer_sales_order_save_after_approve>
            </observers>
          </sales_order_save_after>
          <sales_order_invoice_pay>
            <observers>
              <tbt_rewards_model_observer_sales_order_invoice_pay>
                <type>singleton</type>
                <class>rewards/observer_sales_order_invoice_pay</class>
                <method>approveAssociatedPendingTransfersOnInvoice</method>
              </tbt_rewards_model_observer_sales_order_invoice_pay>
            </observers>
          </sales_order_invoice_pay>
          <sales_order_payment_cancel>
            <observers>
              <tbt_rewards_model_observer_sales_order_payment_cancel>
                <type>singleton</type>
                <class>rewards/observer_sales_order_payment_cancel</class>
                <method>revokeAssociatedPendingTransfersOnCancel</method>
              </tbt_rewards_model_observer_sales_order_payment_cancel>
            </observers>
          </sales_order_payment_cancel>
        </events>
        <models>
            <rewards>
                <class>TBT_Rewards_Model</class>
                <resourceModel>rewards_mysql4</resourceModel>
            </rewards>
            <rewards_mysql4>
                <class>TBT_Rewards_Model_Mysql4</class>
                <entities>
                    <transfer>
                        <table>rewards_transfer</table>
                    </transfer>
                    <transfer_reference>
                        <table>rewards_transfer_reference</table>
                    </transfer_reference>
					<currency>
                        <table>rewards_currency</table>
                    </currency>
					<comment>
                        <table>rewards_comment</table>
                    </comment>
					<cat>
                        <table>rewards_cat</table>
                    </cat>
					<post_cat>
                        <table>rewards_post_cat</table>
                    </post_cat>
					<store_currency>
                        <table>rewards_store_currency</table>
                    </store_currency>
					<cat_store>
                        <table>rewards_cat_store</table>
                    </cat_store>
                    <special>
                    	<table>rewards_special</table>
                    </special>
                </entities>
            </rewards_mysql4>
            
            <!-- TODO : WDCA Special Rules Triggers Begin --> 
            <review>
                <rewrite>
                        <review>TBT_Rewards_Model_Review</review>
                </rewrite>
            </review>
                       
            <customer>
                <rewrite>
                        <customer>TBT_Rewards_Model_Customer</customer>
                </rewrite>
            </customer>
            
            <poll>
                <rewrite>
                        <poll>TBT_Rewards_Model_Poll</poll>
                </rewrite>
            </poll>
            
            <sendfriend>
                <rewrite>
                    <sendfriend>TBT_Rewards_Model_Sendfriend</sendfriend>
                </rewrite>
            </sendfriend>
            
            <newsletter>
                <rewrite>
                    <subscriber>TBT_Rewards_Model_Newsletter</subscriber>
                </rewrite>
            </newsletter>
            
            <tag>
                <rewrite>
                    <tag>TBT_Rewards_Model_Tag</tag>
                </rewrite>
            </tag>
            
            <cart>
                <rewrite>
                    <checkout_cart>TBT_Rewards_Model_Cart</checkout_cart>
                </rewrite>
            </cart>    
            
            <sales>
                <rewrite>
                        <order>TBT_Rewards_Model_Sales_Order</order>
                        <quote>TBT_Rewards_Model_Sales_Quote</quote>
                </rewrite>
            </sales>
            
            <!-- For PayPal standard payment compatibility -->
            <paypal>
                <rewrite>
                        <standard>TBT_Rewards_Model_Paypal_Standard</standard>
                </rewrite>
            </paypal>
                       
                       
            
             <!-- Special Rules Triggers End--> 
            <salesrule>
                <rewrite>
                    <validator>TBT_Rewards_Model_Salesrule_Validator</validator>
                </rewrite>
            </salesrule>
            
            <catalogrule>
                <rewrite>
                    <observer>TBT_Rewards_Model_Catalogrule_Observer</observer>
                </rewrite>
            </catalogrule>
            
             <!-- For proper tax calculation --> 
            <sales>
                <rewrite>
                    <quote_address_total_tax>rewards/sales_quote_address_total_tax</quote_address_total_tax>
                </rewrite>
            </sales>
            
            
            <!--// This is to accomodate compatibility with AheadWork's AJAX Cart Pro extension //-->
            <ajaxcartpro>
                <rewrite>
                    <observer>TBT_Rewards_Model_Ajaxcartpro_Observer</observer>
                </rewrite>
            </ajaxcartpro>
            
        </models>
        <resources>
            <rewards_setup>
                <setup>
                    <module>TBT_Rewards</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewards_setup>
            <rewards_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewards_write>
            <rewards_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewards_read>
        </resources>
        <blocks>
            <rewards>
                <class>TBT_Rewards_Block</class>
            </rewards>
                     
            <adminhtml>

                <rewrite>
                        <promo_catalog_grid>TBT_Rewards_Block_Adminhtml_Promo_Catalog_Grid</promo_catalog_grid>
                </rewrite>
                <rewrite>
                        <promo_quote_grid>TBT_Rewards_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                </rewrite>
            </adminhtml>
            
                
                
        </blocks>
        <helpers>
            <rewards>
                <class>TBT_Rewards_Helper</class>
            </rewards>
        </helpers>
		<events>
            <controller_front_init_routers>
                <observers>
                    <rewards>
                        <type>singleton</type>
                        <class>TBT_Rewards_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </rewards>
                </observers>
            </controller_front_init_routers>
        </events>
     
        <sales>
            <quote>
                <totals>
                
          
                    <rewards>
                        <class>rewards/sales_quote_address_total_rewards</class>
                        <before>subtotal</before>
                        <renderer>rewards/checkout_rewarddiscount</renderer> 
                        <admin_renderer>rewards/checkout_rewarddiscount</admin_renderer>
                    </rewards>
                                       
                    <rewardspent>
                        <class>rewards/checkout_rewardspent</class>      <!-- This is a model -->
                        <before>subtotal</before>
                        <renderer>rewards/checkout_rewardspent</renderer>  <!-- This is a block -->
                        <admin_renderer>rewards/checkout_rewardspent</admin_renderer>
                    </rewardspent>
                    
                    
                    <rewardearned>
                        <class>rewards/checkout_rewardearned</class>      <!-- This is a model -->
                        <before>subtotal</before>
                        <renderer>rewards/checkout_rewardearned</renderer> <!-- This is a block -->
                        <admin_renderer>rewards/checkout_rewardearned</admin_renderer>
                    </rewardearned>
                    
                     
                        
                </totals>
            </quote>
        </sales>
      
        
        
    </global>
	
	 
	<default>
        <sales>
            <totals_sort>
                <rewards>15</rewards>
                <rewardspent>7</rewardspent>
                <rewardearned>8</rewardearned>
            </totals_sort>
        </sales>
    </default>
    
 
    
	<default>
        <rewards>
            <registration>
                <lKey></lKey>
                <companyName></companyName>
                <companyPhoneNumber></companyPhoneNumber>
            </registration>
            <general>
                <canHaveNegativePtsBalance>0</canHaveNegativePtsBalance>
                <canUseRedemptionsIfNotLoggedIn>1</canUseRedemptionsIfNotLoggedIn>
                <doIgnoreCDWhenCR>0</doIgnoreCDWhenCR>
                <doIgnoreCDWhenSCR>0</doIgnoreCDWhenSCR>
            </general>
            <display>
                <noPointsCaption>zero points</noPointsCaption>
                <showCartRedemptionsWhenZero>0</showCartRedemptionsWhenZero>
                <showCartDistributionsWhenZero>1</showCartDistributionsWhenZero>
                <showSidebarIfNotLoggedIn>1</showSidebarIfNotLoggedIn>
                <showSidebar>1</showSidebar>
                <rewardsCatalogNumProducts>4</rewardsCatalogNumProducts>
            </display>
            <InitialTransferStatus>
                <AfterOrder>4</AfterOrder>
				<AfterReview>4</AfterReview>
				<AfterRating>4</AfterRating>
				<AfterPoll>5</AfterPoll>
				<AfterSendFriend>5</AfterSendFriend>
				<AfterTag>4</AfterTag>
				<AfterNewsletter>5</AfterNewsletter>
				<AfterSignup>5</AfterSignup>
				<TransferToFriend>5</TransferToFriend>
            </InitialTransferStatus>
            <orders>
                <shouldRemovePointsOnCancelledOrder>1</shouldRemovePointsOnCancelledOrder>
                <shouldApprovePointsOnInvoice>1</shouldApprovePointsOnInvoice>
                <shouldApprovePointsOnShipment>0</shouldApprovePointsOnShipment>
            </orders>
            <transferComments>
                <orderEarned>Points received for making an order.</orderEarned>
                <orderSpent>Points spent on a purchase.</orderSpent>
				<reviewOrRatingEarned>Points received for writing a review/making a rating</reviewOrRatingEarned>
				<pollEarned>Points received for participating in a poll.</pollEarned>
				<tellAFriendEarned>Points received for telling a friend about a product.</tellAFriendEarned>
				<tagEarned>Points received for tagging a product.</tagEarned>
				<newsletterEarned>Points received for signing up to a newsletter.</newsletterEarned>
				<signupEarned>Points received for signing up.</signupEarned>
				<sendToFriend>Sent points to user %s:\n Sender Comments: %s</sendToFriend>
				<receiveFromFriend>Received points from user %s:\n Sender Comments: %s</receiveFromFriend>
				<revoked>Point-transfer revoked. Comments were:\n %s</revoked>
				<migrated>Migrated from old system.</migrated>
            	<defaultMassTransferComment>Points transfer initiated by the store administrator.</defaultMassTransferComment>
        	</transferComments>
        </rewards>
    </default>
</config>