<?xml version="1.0"?>
<config>
    <modules>
        <Camiloo_Stockupload>
            <version>0.1.0</version>
        </Camiloo_Stockupload>
    </modules>
    <admin>
        <routers>
			<stockupload>
				<use>admin</use>
				<args>
					<module>Camiloo_Stockupload</module>
					<frontName>stockupload</frontName>
				</args>
			</stockupload>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<stockupload module="stockupload">
						<title>Easy Stock Upload</title>
						<sort_order>200</sort_order>
						<action>stockupload/stockupload</action>
					</stockupload>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Camiloo_Stockupload>
							<title>Stockupload Module</title>
							<sort_order>10</sort_order>
						</Camiloo_Stockupload>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<stockupload>
					<file>stockupload.xml</file>
				</stockupload>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <stockupload>
                <class>Camiloo_Stockupload_Model</class>
                <resourceModel>stockupload_mysql4</resourceModel>
            </stockupload>
            <stockupload_mysql4>
                <class>Camiloo_Stockupload_Model_Mysql4</class>
                <entities>
                    <stockupload>
                        <table>stockupload</table>
                    </stockupload>
                </entities>
            </stockupload_mysql4>
        </models>
        <resources>
            <stockupload_setup>
                <setup>
                    <module>Camiloo_Stockupload</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stockupload_setup>
            <stockupload_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stockupload_write>
            <stockupload_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stockupload_read>
        </resources>
        <blocks>
            <stockupload>
                <class>Camiloo_Stockupload_Block</class>
            </stockupload>
        </blocks>
        <helpers>
            <stockupload>
                <class>Camiloo_Stockupload_Helper</class>
            </stockupload>
        </helpers>
    </global>
</config>