DIV.onsale-category-container-grid {
	POSITION: relative;
	width: 85px;
	float:left;
	ZOOM: 1;
	margin:7px;
}

DIV.onsale-category-container-list {
	POSITION: relative;
	FLOAT: left;
	ZOOM: 1;
}

TABLE.onsale-category-container {
	CURSOR: pointer;
	POSITION: absolute;
	Z-INDEX: 10;
}

TABLE.onsale-category-container TD {
	BACKGROUND-COLOR: transparent;
	BACKGROUND-IMAGE: none;
	BORDER: 0px;
}

DIV.onsale-category-label-image {
	/*MARGIN: 3px;*/
	BACKGROUND-REPEAT: no-repeat;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 10px;
}

TABLE.onsale-onsale-category-label-text TD {
	FONT-FAMILY: Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

TABLE.new-onsale-category-label-text TD {
	FONT-FAMILY: Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

TABLE.custom-onsale-category-label-text TD {
	FONT-FAMILY: Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}


