DIV.onsale-product-container {
	POSITION: relative;
	ZOOM: 1;
}

TABLE.onsale-product-container {
	POSITION: absolute;
	Z-INDEX: 10;
}

DIV.onsale-product-label-image {
	BACKGROUND-REPEAT: no-repeat;
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 13px;
	MARGIN: 5px;
}

TABLE.onsale-onsale-product-label-text TD {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

TABLE.new-onsale-product-label-text TD {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}

TABLE.custom-onsale-product-label-text TD {
	FONT-FAMILY: inherit;
	FONT-SIZE: 16px;
	TEXT-ALIGN: center;
	VERTICAL-ALIGN: middle;
	COLOR: #FFFFFF;
}