<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <KD_ExpressCheckout>
            <version>1.1.0</version>
        </KD_ExpressCheckout>
    </modules>

    <global>
        <models>
            <expresscheckout>
                <class>KD_ExpressCheckout_Model</class>
            </expresscheckout>
            <expresscheckout_adminhtml>
                <class>KD_ExpressCheckout_Adminhtml_Model</class>
            </expresscheckout_adminhtml>
        </models>
        <blocks>
            <checkout>
                <rewrite>
                    <links>KD_ExpressCheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <expresscheckout>
                <class>KD_ExpressCheckout_Block</class>
            </expresscheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>KD_ExpressCheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <expresscheckout>
                <class>KD_ExpressCheckout_Helper</class>
            </expresscheckout>
        </helpers>
    </global>

    <frontend>
        <routers>
            <expresscheckout>
                <use>standard</use>
                <args>
                    <module>KD_ExpressCheckout</module>
                    <frontName>expresscheckout</frontName>
                </args>
            </expresscheckout>
        </routers>
        <translate>
            <modules>
                <KD_ExpressCheckout>
                     <files>
                          <default>KD_ExpressCheckout.csv</default>
                     </files>
                </KD_ExpressCheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <expresscheckout>
                        <file>expresscheckout.xml</file>
                  </expresscheckout>
             </updates>
        </layout>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <expresscheckout>
                        <type>model</type>
                        <class>expresscheckout/observer</class>
                        <method>setCustomerComment</method>
                    </expresscheckout>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_after>
                <observers>
                    <expresscheckout>
                        <type>model</type>
                        <class>expresscheckout/observer</class>
                        <method>unsetCustomerComment</method>
                    </expresscheckout>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <KD_ExpressCheckout>
                    <files>
                        <default>KD_ExpressCheckout.csv</default>
                    </files>
                </KD_ExpressCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <expresscheckout translate="title" module="expresscheckout">
                                            <title>Express Checkout Section</title>
                                        </expresscheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <expresscheckout>
            <general>
                <enabled>0</enabled>
                <custom>Welcome to the checkout. Fill in the fields below to complete your purchase.</custom>
				<title>Express Checkout</title>
				<logintext>Already registered? Login into your account</logintext>
                <shipping_method>flatrate_flatrate</shipping_method>
              <!--  <payment_method>paypal_express</payment_method>-->
                <postcode>33704</postcode>
				<country>US</country>
                <guest_checkout>1</guest_checkout>
                <shipping_address>1</shipping_address>
                <newsletter_checkbox>1</newsletter_checkbox>
                <comment>0</comment>
            </general>
            <address_form>
                <company>optional</company>
                <address>required</address>
                <city>required</city>
                <country>required</country>
                <zip>required</zip>
                <state>required</state>
                <phone>required</phone>
                <fax>optional</fax>
            </address_form>
            <agreements>
                <enabled>0</enabled>
                <output>minimal</output>
            </agreements>
        </expresscheckout>
    </default>
</config>