<?xml version="1.0"?>


<config>
  <modules>
    <AW_All>
      <version>1.0</version>
    </AW_All>
  </modules>
  

  <admin>
      <routers>
          <awall>
              <use>admin</use>
              <args>
                  <module>AW_All</module>
                  <frontName>awall</frontName>
              </args>
          </awall>
      </routers>
  </admin>

  <global>
    <blocks>
      <awall>
        <class>AW_All_Block</class>
      </awall>
    </blocks>
      <resources>
          <awall_setup>
              <setup>
                  <module>AW_All</module>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </awall_setup>
          <awall_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </awall_write>
          <awall_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </awall_read>
      </resources>
      <helpers>
          <awall>
              <class>AW_All_Helper</class>
          </awall>
      </helpers>
  </global>
</config>