<?xml version="1.0"?>
<config>
    <modules>
       <AW_Featuredproducts>
          <version>2.2.6</version><platform>ce</platform>
       </AW_Featuredproducts>
    </modules>

    <global>
	    <blocks>
            <featuredproducts>
                <class>AW_Featuredproducts_Block</class>
            </featuredproducts>
        </blocks>
        <models>
            <featuredproducts>
                <class>AW_Featuredproducts_Model</class>
            </featuredproducts>
        </models>

        <helpers>
        	<featuredproducts>
        		<class>AW_Featuredproducts_Helper</class>
        	</featuredproducts>
        </helpers>
        <resources>
            <featuredproducts_setup>
                <setup>
                    <module>AW_Featuredproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproducts_setup>
            <featuredproducts_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </featuredproducts_write>
            <featuredproducts_read>
               <connection>
                <use>core_read</use>
              </connection>
            </featuredproducts_read>
        </resources>	    
    </global>
    
	<frontend>
	   <routers>
			<featuredproducts>
				<use>standard</use>
				<args>
					<module>AW_Featuredproducts</module>
					<frontName>featuredproducts</frontName>
				</args>
			</featuredproducts>
		</routers>
		<layout>
			<updates>
				<featuredproducts>
					<file>featuredproducts.xml</file>
				</featuredproducts>
			</updates>
		</layout>
		<translate>
            <modules>
                <AW_Featuredproducts>
                    <files>
                        <default>AW_Featuredproducts.csv</default>
                    </files>
                </AW_Featuredproducts>
            </modules>
        </translate>
	</frontend>
    
    <adminhtml>
        <acl>
          <resources>
			<all>
				<title>Allow Everything</title>
			</all>
            <admin>
              <children>
                  <system>
                      <children>
                        <config>
                          <children>
                            <featuredproducts>
                              <title>aheadWorks - Featured Products Section</title>
                            </featuredproducts>
                          </children>
                        </config>
                      </children>
                  </system>
              </children>
            </admin>
          </resources>
        </acl>
		
		<translate>
            <modules>
                <AW_Featuredproducts>
                    <files>
                        <default>AW_Featuredproducts.csv</default>
                    </files>
                </AW_Featuredproducts>
            </modules>
        </translate>
		
    </adminhtml>    
	<default>
        <featuredproducts>
            <displayoptions>
				<displaytype>slider</displaytype>
				<arrows>1</arrows>
				<switchertype>none</switchertype>
				<title>top</title>
				<details>integrate</details>
				<istooltip>1</istooltip>
                <interval>0</interval>
				<align>left</align>
				<image>left</image>
				<bnb>0</bnb>
				<description>1</description>
				<price>1</price>
				<imagewidth>120</imagewidth>
				<thumbwidth>32</thumbwidth>
				<thumbzoom>1.5</thumbzoom>
				<containerwidth>475</containerwidth>
				<containerheight>200</containerheight>
				<blockwidth>395</blockwidth>
				<blockheight>200</blockheight>
				<!-- default speed -->
				<ssdelay>30</ssdelay>
								
            </displayoptions>
        </featuredproducts>
    </default>
</config>
