<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Eznewsletter_Ezsubscribers>
            <version>1.0.30</version>
        </Eznewsletter_Ezsubscribers>
    </modules>
    <global>
        <models>
        	<checkout>
        		<rewrite>
        			<type_onepage>Eznewsletter_Ezsubscribers_Model_Checkout_Type_Onepage</type_onepage>
        		</rewrite>
        	</checkout>
            <ezsubscribers>
                <class>Eznewsletter_Ezsubscribers_Model</class>
            </ezsubscribers>
        </models>
        <resources>
            <ezsubscribers_setup>
                <setup>
                    <module>Eznewsletter_Ezsubscribers</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ezsubscribers_setup>
            <ezsubscribers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ezsubscribers_write>
            <ezsubscribers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ezsubscribers_read>
        </resources>
        <blocks>
        	<ezsubscribers>
                <class>Eznewsletter_Ezsubscribers_Block</class>
            </ezsubscribers>
        </blocks>
        <helpers>
            <ezsubscribers>
                <class>Eznewsletter_Ezsubscribers_Helper</class>
            </ezsubscribers>
        </helpers>
    </global>
    <default>
    	<newsletter>
    		<ezsubscribers>
    			<checkout_enable>1</checkout_enable>
    			<checkout_checked>1</checkout_checked>
    			<checkout_visible_guest>1</checkout_visible_guest>
    			<checkout_visible_register>1</checkout_visible_register>
                <checkout_visible_label>Signup for our newsletter.</checkout_visible_label>
    		</ezsubscribers>
    	</newsletter>
    </default>
    <frontend>
        <translate>
            <modules>
                <Eznewsletter_Ezsubscribers>
                    <files>
                        <default>Eznewsletter_Ezsubscribers.csv</default>
                    </files>
                </Eznewsletter_Ezsubscribers>
            </modules>
        </translate>
        <layout>
            <updates>
                <ezsubscribers>
                    <file>eznewsletter_checkout.xml</file>
                </ezsubscribers>
            </updates>
        </layout>
        <events>
        	<checkout_type_onepage_save_order>
                <observers>
                    <setCustomerIsSubscribed>
                        <type>singleton</type>
                        <class>ezsubscribers/observer</class>
                        <method>setCustomerIsSubscribed</method>
                    </setCustomerIsSubscribed>
                </observers>
            </checkout_type_onepage_save_order>
		</events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Eznewsletter_Ezsubscribers>
                    <files>
                        <default>Eznewsletter_Ezsubscribers.csv</default>
                    </files>
                </Eznewsletter_Ezsubscribers>
            </modules>
        </translate>
    </adminhtml>
</config>